.sidePane {
  padding: 25px 30px 30px 30px;
  display: flex;
  flex-direction: column;

  .sidePaneTabsBar {
    flex-shrink: 0;
  }

  .sidePaneTab {
    padding: 0 30px;
  }
}

.mainPanel {
  padding: 25px 30px 30px 30px;
}
