.denseLayer {
  margin-bottom: 10px;

  .inputFeatureMaps {
    width: 70px;
    text-align: center;
    margin-right: 10px;
  }

  .inputKernelSize {
    width: 60px;
    text-align: center;
    margin-right: 10px;
  }

  .inputHeight, .inputWidth {
    width: 70px;
    text-align: center;
    margin-right: 10px;
  }

  .inputLayerName {
    display: inline;
    .label {
      padding-top: 0.375em;
      display: inline-block;
      font-weight: normal;
      width: 100px;
      text-align: right;
    }
  }

  input[type=range].slider.sliderLayerSpacing {
    width: 100px;
    margin: 0 10px 0 30px;
    padding-top: 15px;
  }

  .invisible {
    visibility: hidden;
  }
}
