.Layers {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 30px;
  padding-right: 30px;

  button.button {
    &.is-white.icon-button {
      &.danger { color: #ee0000; }
      &.info { color: #1496ed; }
      opacity: 0.5;
      transition: opacity 0.5s ease-in-out;
      &:hover {
        opacity: 1.0;
      }
    }

    margin-right: 10px;
  }

  .layer {

    margin-bottom: 10px;

    .inputParam {
      width: 70px;
      text-align: center;
      margin-right: 10px;
      //border: 0;
      //box-shadow: 0 0;
      //border-bottom: 1px solid #00000055;
    }

    .inputLayerName {
      display: inline;
      .label {
        padding-top: 0.375em;
        display: inline-block;
        font-weight: normal;
        width: 100px;
        text-align: right;
      }
    }

    input[type=range].slider.sliderLayerSpacing {
      width: 100px;
      margin: 0 10px 0 30px;
      padding-top: 15px;
    }

    .invisible {
      visibility: hidden;
    }

  }
}
