.Layers {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 30px;
  padding-right: 30px;

  button.button {
    &.is-white.icon-button {
      &.danger { color: #ee0000; }
      &.info { color: #1496ed; }
      opacity: 0.5;
      transition: opacity 0.5s ease-in-out;
      &:hover {
        opacity: 1.0;
      }
    }

    margin-right: 10px;
  }

  .layerWrapper {

    .addLayerParentWrapper {
      position: relative;
      padding-top: 10px;
      &:hover {
        .addLayerWrapper{
          opacity: 1;
          max-height: 500px;
          transition-delay: 0s, 0s, 0s;
        }
      }

      .addLayerWrapper {
        margin-top: -10px;
        pointer-events: none;
        opacity: 0;
        max-height: 0;
        transition-property: opacity, padding, max-height;
        transition-duration: 1s;
        transition-delay: 0.2s;
        &:hover {
          .addLayerOptions {
            opacity: 1;
            max-height: 200px;
            padding: 10px 20px 20px 20px;
            transition-delay: 0s;
          }
        }

        .addLayerButtonWrapper {
          position: relative;
          display: flex;
          justify-content: flex-end;
          width: 100%;
          button.addLayerButton {
            pointer-events: auto;
            color: #55aced;
            opacity: 1 !important;
            border: 1px solid #00000033;
            transition: color 0.5s ease-in-out;
            &:hover {
              color: #1496ed;
              transition: 0s all;
            }
          }
          .addLayerDivider {
            position: absolute;
            top: 50%;
            left: 20px;
            right: 20px;
            margin: 0;
          }
        }

        .addLayerOptions {
          display: flex;
          pointer-events: auto;
          padding: 0 20px;
          opacity: 0;
          max-height: 0;
          justify-content: center;
          transition-property: opacity, padding, max-height;
          transition-duration: 1s;
          transition-delay: 0.2s;
          flex-wrap: wrap;
          .button {
            margin: 5px;
          }
        }

      }

    }

  }

  .layer {

    .inputParam {
      width: 70px;
      text-align: center;
      margin-right: 10px;
      //border: 0;
      //box-shadow: 0 0;
      //border-bottom: 1px solid #00000055;
    }

    .inputLayerName {
      display: inline;
      .label {
        padding-top: 0.375em;
        display: inline-block;
        font-weight: normal;
        width: 100px;
        text-align: right;
      }
    }

    input[type=range].slider.sliderLayerSpacing {
      width: 100px;
      margin: 0 10px 0 30px;
      padding-top: 15px;
    }

    .invisible {
      visibility: hidden;
    }

  }
}
