.Layers {
  padding-left: 30px;
  padding-right: 30px;

  button.button {
    &.is-white.icon-button {
      &.danger { color: #ee0000; }
      &.info { color: #1496ed; }
      opacity: 0.5;
      transition: opacity 0.5s ease-in-out;
      &:hover {
        opacity: 1.0;
      }
    }

    margin-right: 10px;
  }
}
